<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-observation-heading" jhiTranslate="uwindApp.observation.home.createOrEditLabel">Create or edit a Observation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.observation.observation" for="field_observation">Observation</label>
                    <input type="text" class="form-control" name="observation" id="field_observation"
                           formControlName="observation"/>
                    <div *ngIf="editForm.get('observation')!.invalid && (editForm.get('observation')!.dirty || editForm.get('observation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('observation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.observation.etudiant" for="field_etudiant">Etudiant</label>
                    <select class="form-control" id="field_etudiant" name="etudiant" formControlName="etudiant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="etudiantOption.id === editForm.get('etudiant')!.value?.id ? editForm.get('etudiant')!.value : etudiantOption" *ngFor="let etudiantOption of etudiants; trackBy: trackById">{{ etudiantOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.observation.moniteur" for="field_moniteur">Moniteur</label>
                    <select class="form-control" id="field_moniteur" name="moniteur" formControlName="moniteur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="moniteurOption.id === editForm.get('moniteur')!.value?.id ? editForm.get('moniteur')!.value : moniteurOption" *ngFor="let moniteurOption of moniteurs; trackBy: trackById">{{ moniteurOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.observation.gestionnaire" for="field_gestionnaire">Gestionnaire</label>
                    <select class="form-control" id="field_gestionnaire" name="gestionnaire" formControlName="gestionnaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gestionnaireOption.id === editForm.get('gestionnaire')!.value?.id ? editForm.get('gestionnaire')!.value : gestionnaireOption" *ngFor="let gestionnaireOption of gestionnaires; trackBy: trackById">{{ gestionnaireOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
